<div class="footer">
  <p>Parceiro: <a href="http://maniadeconcurseiro.com.br">Mania de Concurseiro</a></p>
  <p>
    Layout inspirado no projeto <a href="http://github.com/awagener/iwanttolearnruby/tree/gh-pages">I Want to Learn Ruby</a>
  </p>
  <p>
    Gostou dos vídeos e quer ajudar o projeto? Faça uma doação!
    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
    <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
    <input type="hidden" name="currency" value="BRL" />
    <input type="hidden" name="receiverEmail" value="jackson.pires@gmail.com" />
    <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/184x42-doar-cinza-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
  </p>
</div>
